name: Build HomeLab Extension

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/pt/homelab/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # <--- A CURA DO ERRO (Baixa todo o histórico pro Spotless não chorar)

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK
        run: |
          chmod +x gradlew
          # Adicionei flags para pular verificações chatas (-x) e garantir o build
          ./gradlew :src:pt:homelab:assembleDebug -x spotlessCheck -x lint

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: homelab-extension
          path: src/pt/homelab/build/outputs/apk/debug/*.apk
          retention-days: 1
